/*General*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*Put Genere Styling Navigation Bar*/

* {
    /*Targert Whole Page*/
    margin: 0px;
    /*completely remove*/
    padding: 0px;
}

/*Body Iam Gonna Target the entire HTML in the body*/
body {
    font-family: "Poppins", sans-serif
}

/*Add Html*/
html {
    scroll-behavior: smooth;
    /*so that we add our links to the different section on our page it's goona not instantly
    go to the page its goona down scrool smooth page*/
}

/*Target our pagragraphy elements*/
p {
    color: rgb(85, 85, 85);
}

/*Transition And this is going to be for the all the links and for another class  btn form buttom they have transition that is 
goona basically change between two states two styles and not be instanteneous*/
/* a,.btn {
    transition: all 300ms ease;
} */

/*Our Navigation Desktop-nav*/
#desktop-nav,.nav-link{
    display: flex;
}

nav {
    justify-content: space-around;
    /*There will be left and right space no matter how big or small the screen is.*/
    align-items: center;
    height: 17vh;
    /*Means screen height so 100 views height takes bascially the whole screen and nav is set to take 17% 
    of whole screen*/
}

.nav-link {
    gap: 2rem;
    /*betwen the element are flex*/
    list-style: none;
    /*remove bullet points in our links*/
    font-size: 1.5rem;
    /*Means unit of measurment*/
}

a {
    /*style the link element*/
    color: black;
    text-decoration: none;
    text-decoration-color: whitesmoke;
}

/*Target links when we hover them*/
a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(154, 153, 153);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/*Section*/
section {
    padding-top: 4vh;
    /*because we want a abit of space between each section*/
    height: 96vh;
    /*and together make up hundreds*/
    margin: 0 10rem;
    /*0 top and buttom and 10 on the side*/
    box-sizing: border-box;
    min-height: fit-content;
    /*bascially its ensuring that thing are not overlapping each other*/
}


/*Profile-Section*/
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container img {
    display: flex;
    height: 400px;
    width: 400px;
    margin: 52px 0;
    border-radius: 50%;
}


.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;

}

.section__text__p2 {
    font-size: 1.80rem;
    margin-bottom: 1rem;

}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*to create little section for the icons*/
.icon {
    cursor: pointer;
    height: 3rem;
}

/*BUTTONS*/
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



/*Now We Going to target the btn-color*/
.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
    font-weight: 600;
    border-radius: 2rem;
    padding: 1rem;
    width: 10rem;
    transition: all 300ms ease;
    background: none;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: rgb(255, 255, 255);

}

.btn-color-1:hover,
.btn-color-2 {
    background-color: rgb(53, 53, 53);
    color: white;
}

/*We goona write About Section*/

#about {/*Target the ID */
    position: relative;
}

.section-container {
    /* gap: 4rem; */
    display: block;
    height: 80%;
}

.section__pic-container{
    display:flex;
    height: 400px;
    width: 400px;
    margin: auto 0px;
    float: left;
    padding-right: 1rem;
}

.about-pic {
    border-radius: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

/*Target the about container*/
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}


.about-containers,
.about-details-container {
    display: flex;
}

.arrow {
    position: absolute;/*Because absolute on the page an not to relative anything else I actually 
    want where its going to be absolute to the section*/
    right: -8rem; /*From right corner of desktop*/
    bottom: 2.5rem;/*up from the buttom*/
}

/*Expeerience Section*/
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.experience-sub-title{
    color: rgb(85, 85, 85);
    font-weight: 600;/*Semi Bold*/
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

#experience{
    position: relative;
}

.article-container{
    display: flex;
    flex-direction: row;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* Now I am Goona Add Project Section */
/*Project Section*/
.project-title{
    margin: 1rem;
    color: black;
}

.project-img{
    border-radius: 2rem;
    height: 350px;
    width: 350px;
}

.color-container{
    border-color: rgb(163, 163, 163);
    background-color: rgb(250, 250, 250);
}

#projects{
    position: relative;
}

.project-btn{
    color: black;
    border-color: rgb(163, 163, 163);
}


/*Contact
so first we are goona target contact
*/
#contact{
    display: flex;
    justify-content: center;/*i.e flex to center*/
    flex-direction: column;
    height: 70vh;/*i am goona put the height i.e70vh*/
}

/*Now we are goona target first class i.e contact-info-upper contact*/
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-radius: 2rem;
    border-color: rgb(163, 163, 163);
    margin: 2rem auto;
    padding:0.5rem
}

/* Now We are goona target next part 2nd class i.e .contact-info- container */
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin: 1rem;
}

/*Now we are goona target next part the contact info container and the paragraph inside of it
we are goona make font size larger
*/
.contact-info-container p{
    font-size: large;
}

.contact-icon{
    cursor: default;
}

/*We goona add another class i.e email-icon*/
.email-icon{
    height: 3.5rem;
}

/*Footer Section
and then we goona wright height vh*/
.nav-links-container{
    height: 17vh;
    align-items: center;
    margin: 0 30rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding-bottom: 4rem;

    /* display: flex; */
}
 
/* And the further we target the footer paragraph*/
footer p{
    text-align: center;
}

